* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: 'gorditaregular', sans-serif;
	font-size: 14px;
	color: #888398;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: 'gorditaregular', sans-serif;
	font-weight: 500;
}
a{
	color: #888398;
	opacity: .6;
	font-size: 14px;
}
p{
	line-height:1.9em;
	font-size: 14px;
	font-family: 'gorditaregular', Arial;
	font-weight: 500;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
::placeholder {
  color: #888398;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #888398;
}

::-ms-input-placeholder {
  color: #888398;
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}
header .left {
	
}
header .left h1 {
	width: 120px
}
header .left h1 a {
	display: block;
	width: 100%;
}
header .left h1 a img {
	display: block;
	width: 100%;
}
header .middle {

}
header .middle ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .middle ul li {
	position: relative;
	margin-right: 50px;
}
header .middle ul li a {
	font-weight: 600;
	margin-right: 50px;
	display: inline-block;
	margin: 0 auto;
}
header .middle ul li:hover a {
	font-weight: 700;
	color: #000;
}
header .middle ul li:hover a::after {
	border-bottom: 2px solid #E45F83;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	content: "";
	position: absolute;
	width: 65%;
	left: 0px;
	right: 0;
	animation: under-line .1s;
}
@keyframes under-line {
    0% {
		width: 0;
    }
    25% {
		width: 15%;
    }
    50% {
		width: 30%;
    }
    75% {
		width: 45%;
    }
    100% {
		width: 65%;
    }
}
header .middle ul li:last-child {
	margin-right: 0;
}
header .right {

}
header .right ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .right ul li {
	position: relative;
}
header .right ul li a {
	display: inline-block;
	margin: 0 auto;
	font-weight: 600;
}
header .right ul li:hover a {
	font-weight: 700;
	color: #000;
}
header .right ul li:first-child:hover a::after {
	border-bottom: 2px solid #E45F83;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	content: "";
	position: absolute;
	width: 65%;
	left: 0px;
	right: 0;
	animation: under-line .1s;
}
header .right ul li a.button {
	display: inline-block;
	margin-left: 30px;
	padding: 15px 25px;
	background: linear-gradient(to bottom right, #E45F83, #9D5BFF);
	color: #fff;
	font-weight: 700;
	border-radius: 10px;
}

#home {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
#home .left {
	width: calc(50% - 50px);
	background-color: #f8f8fa;
	padding: 150px 75px 0;
}
#home .left span {
	font-weight: 600;
	font-size: 14px;
}
#home .left h1 {
	font-family: 'gorditabold';
	margin-top: 15px;
	font-size: 48px;
	color: #000;
	font-weight: 700;
	max-width: 270px;
	line-height: 1.2;
}
#home .left p {
	margin-top: 30px;
	font-weight: 600;
	font-size: 16px;
	max-width: 320px;
}
#home .left a.button {
	display: inline-block;
	margin-top: 35px;
	background: linear-gradient(to right, #E45F83, #9D5BFF);
	padding: 20px 50px;
	color: #fff;
	font-weight: 700;
	border-radius: 10px;
}
#home .right {
	width: calc(50% + 50px);
}
#home .right img {
	display: block;
	width: 100%;
}


#about {
	padding: 90px 0;
}
#about .top {
	
}
#about .top h1 {
	font-size: 38px;
	font-weight: bold;
	color: #000;
	text-align: center;
	margin-bottom: 30px;
}
#about .top p {
	text-align: center;
	max-width: 370px;
	margin: 0 auto;
	font-weight: 600;
}
#about .bottom {
	margin-top: 40px;
}
#about .bottom ul {
	background-image: url(../images/how\ it\ work\ -\ path.svg);
	background-repeat: no-repeat;
	background-position: 75px 54px;
	background-size: 840px;
	width: 85%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
#about .bottom ul li {
	width: 33.333%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#about .bottom ul li .image_container {
	overflow: hidden;
	height: 270px;
	width: 95%;
	margin: 0 auto;
}
#about .bottom ul li .image_container img {
	display: block;
	width: 100%;
}
#about .bottom ul li:last-child .image_container img {
	margin: 0 auto;
}
#about .bottom ul li .content {
	padding: 0 105px 0 70px;
}
#about .bottom ul li:last-child .content {
	padding-right: 25px;
}
#about .bottom ul li .content h3 {
	font-size: 24px;
	font-weight: 700;
	color: #000;
}
#about .bottom ul li .content p {
	font-weight: 600;
}


#features {
	padding: 80px 0 10px;
}
#features .top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
#features .top .left {
	width: 55%;
}
#features .top .left img {
	display: block;
	width: 62%;
	margin: 0 auto;
}
#features .top .right {
	width: 42%;
	padding-top: 130px;
	box-sizing: border-box;
}
#features .top .right h1 {
	font-size: 38px;
	font-weight: bold;
	color: #000;
	margin-bottom: 20px;
}
#features .top .right p {
	padding-left: 5px;
	font-weight: 600;
	max-width: 290px;
	margin-bottom: 50px;
}
#features .top .right div.overlay {
	display: flex;
	flex-direction: column;
}
#features .top .right div.overlay a.button {
	display: flex;
	align-items: center;
	border: #888398 solid 1px;
	border-radius: 20px;
	padding: 18px;
	width: 210px;
}
#features .top .right div.overlay a.button:last-child {
	margin-top: 20px;
}
#features .top .right a.button img {
	display: inline-block;
	width: 50px;
}
#features .top .right a.button span {
	font-weight: 700;
	color: #000;
	font-size: 16px;
	margin-left: 25px;
}
#features .bottom {
	display: flex;
	justify-content: space-between;
}
#features .bottom .left {
	width: 42%;
	padding: 100px 0 0 180px;
	box-sizing: border-box;
}
#features .bottom .left h1 {
	font-size: 38px;
	font-weight: bold;
	color: #000;
	margin-bottom: 20px;
}
#features .bottom .left p {
	font-weight: 600;
	max-width: 290px;
	margin-bottom: 50px;
	padding-left: 5px;
}
#features .bottom .left a.button {
	display: inline-block;
	color: #000;
	font-weight: 700;
	border: #E45F83 solid 2px;
	border-radius: 10px;
	padding: 15px 40px;
	opacity: 1;
}
#features .bottom .right {
	width: 54%;
}
#features .bottom .right img {
	display: block;
	width: 60%;
	margin: 0 auto;
}

#pricing {

}
#pricing .top {
	
}
#pricing .top h1 {
	
}
#pricing .top p {
	
}
#pricing .bottom {
	
}
#pricing .bottom form {
	
}
#pricing .bottom form input[email] {
	
}
#pricing .bottom form input[submit] {
	
}

footer {

}
footer .top {

}
footer .top .large {

}
footer .top .large h1 {

}
footer .top .large h1 a {

}
footer .top .large h1 a img {

}
footer .top .large p {

}
footer .top .large .icon_panel {

}
footer .top .large .icon_panel .icon {

}
footer .top .large .icon_panel .icon img {

}
footer .top .item {

}
footer .top .item h5 {

}
footer .top .item ul {

}
footer .top .item ul li {

}
footer .top .item ul li a {

}
footer .bottom {

}
footer .bottom p {

}
footer .bottom p a {

}


























@media all and (max-width: 1280px) {
	
}
@media all and (max-width: 1024px) {
	header .middle ul li {
		margin-right: 40px;
	}
	header .right ul li a.button {
		margin-left: 25px;
		padding: 14px 22px;
	}
	#home .left {
		padding: 60px 75px 0;
	}
}
@media all and (max-width: 980px) {
	#home .left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 60px 75px;
	}
	#home .left {
		padding: 0 65px;
	}
	#home .left h1 {
		font-size: 38px;
	}
	#home .left p {
		font-size: 14px;
		margin-top: 15px;
	}
	#home .left a.button {
		padding: 15px 35px;
		margin-top: 20px;
	}
}
@media all and (max-width: 768px) {
	header .right {
		display: none;
	}
	#home .right {
		display: none;
	}
	#home .left {
		width: 100%;
		padding: 35px 30px;
		display: block;
		text-align: center;
	}
	#home .left h1 {
		font-size: 48px;
		margin: 0 auto;
	}
	#home .left p {
		margin: 0 auto;
		margin-top: 30px;
	}
}
@media all and (max-width: 640px) {
	header .middle ul li {
		margin-right: 15px;
		font-size: 14px;
	}
}
@media all and (max-width: 480px) {
	header {
		justify-content: center;        
	}
	header .middle {
		display: none;
	}
	#home .left h1 {
		font-size: 42px;
	}
}
@media all and (max-width: 360px) {
	header {
		padding: 20px 0;
	}
	#home .left h1 {
		font-size: 40px;
	}
	#home .left p {
		margin-top: 20px;
	}
	#home .left {
		width: 100%;
		padding: 35px 20px;
		display: block;
		text-align: center;
	}
}
@media all and (max-width: 320px) {
 	
}